<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Page</title>
    <link href="/css/style.css" rel="stylesheet" >
</head>
<body class="backGr">

<a href="/">Home Page</a>

<h1 align="center"> All Books: </h1> <br>

<div align="center">
    <table border="1">
        <tr style="color: black">
            <th>title</th>
            <th>description</th>
            <th>price</th>
            <th>author</th>
            <th>delete</th>
            <th>edit</th>
        </tr>

        <tr style="color: dimgrey" th:each="book: ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.author.name}"></td>
            <td><a th:href="@{/deleteBook(id=${book.id})}">Delete</a></td>
            <td><a th:href="@{/bookPage/editBook(id=${book.id})}">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>