<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3 align="center">Edit Book:</h3>
<div align="center">
    <form action="/editBook" method="post">
        <input type="hidden" name="id" th:value="${book.id}">
        <input type="text" name="title" th:value="${book.title}"/><br>
        <textarea  name="description" th:text="${book.description}"></textarea><br>
        <input type="number" name="price" th:value="${book.price}"/><br>
        <select name="author.id">
            <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.name}"
                    th:selected="${book.author.id == author.id}"></option>
        </select><br>
        <input type="submit" value="Update">
    </form>
</div>
<a href="/bookPage">All Book</a>
</div>
</body>
</html>