<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Page</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="backGr">

<a href="/">Home Page</a>

<h1 class="textColor" align="center"> All Authors: </h1> <br>
<div align="center">
    <table border="1">
        <tr class="textColor">
            <th>name</th>
            <th>surname</th>
            <th>email</th>
            <th>gender</th>
            <th>bio</th>
            <th>pic</th>
            <th>delete</th>
            <th>edit</th>
        </tr>

        <tr class="textColor" th:each="author: ${authors}">
            <td th:text="${author.name}"></td>
            <td th:text="${author.surname}"></td>
            <td th:text="${author.email}"></td>
            <td th:text="${author.gender}"></td>
            <td th:text="${author.bio}"></td>
            <td><img th:src="@{/image(name=${author.profilePic})}" width="20"
                     th:if="${author.profilePic != null && author.profilePic.length() != 0}"/></td>
            <td><a th:href="@{/deleteAuthor(id=${author.id})}">Delete</a></td>
            <td><a th:href="@{/authorPage/editAuthor(id=${author.id})}">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>