<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>general</title>
    <link href="/css/menu.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div th:fragment="menu">
<div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <h6 class="nav-link" th:text="#{home.menu.msg.page} + ' ' + ${user.name}" th:if="${user != null}"></h6>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:text="#{home.menu.home.page}" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userPage" th:text="#{home.menu.users.page}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookPage" th:text="#{home.menu.books.page}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{home.menu.about.page}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{home.menu.contact.page}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" type="button" href="/loginPage" data-toggle="modal" data-target="#myModal" th:text="#{home.menu.singIn.page}" th:if="${username == null}"></a>
                    <a class="nav-link btn btn-primary text-white" type="button" href="/logout" data-toggle="modal" data-target="#myModal" th:text="#{home.menu.logout.page}" th:if="${username != null}"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</div>

<div th:fragment="langIcon">
    <a href="?lang=hy">ARM</a>
    <a href="?lang=ru">RUS</a>
    <a href="?lang=en">ENG</a>
</div>
</body>
</html>