<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="/css/style.css" rel="stylesheet" >
    <link href="/css/menu.css" rel="stylesheet" >
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

<header th:insert="fragments/general :: menu"> </header>
<header th:insert="fragments/general :: langIcon"> </header>
<header th:insert="fragments/general :: mailto"> </header>


<h3 th:text="${msg}" th:if="${msg != null}"></h3>
<div class="row" align="center">
    <div style="float: left">
        <p class="textColor" th:text="#{home.addUserForm.name.page}"></p>
        <form class="textColor"  th:action="@{/addUser}" method="post" enctype="multipart/form-data" th:object="${user}">
            <input type="file" name="image"/><br>
            <lebel for="name"></lebel>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="error"></span>
            <input type="text" name="name" th:placeholder="#{home.form.user.name.page}"/><br>
            <lebel for="surname"></lebel>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:class="error"></span>
            <input type="text" name="surname" th:placeholder="#{home.form.user.surname.page}"/><br>
            <lebel for="gender"></lebel>
            <select name = "gender">
                <option disabled selected value th:text="#{home.form.user.gender.assing.page}"></option>
                <option value="MALE" th:text="#{home.form.user.gender.male.page}"></option>
                <option value="FEMALE" th:text="#{home.form.user.gender.female.page}"></option>
            </select><br>
            <lebel for="role"></lebel>
            <select name = "role">
                <option disabled selected value th:text="#{home.form.user.role.assing.page}"></option>
                <option value="ADMIN" th:text="#{home.form.user.role.admin.page}"></option>
                <option value="AUTHOR" th:text="#{home.form.user.role.author.page}"></option>
            </select><br>
            <lebel for="bio"></lebel>
            <span th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}" th:class="error"></span>
            <textarea name="bio" th:placeholder="#{home.form.user.bio.page}"></textarea><br>
            <lebel for="email"></lebel>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="error"></span>
            <input type="text" name="email" th:placeholder="#{home.form.user.email.page}"/><br>
            <lebel for="password"></lebel>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="error"></span>
            <input type="password" name="password" th:placeholder="#{home.form.user.password.page}"/><br>
            <lebel for="confirmPassword"></lebel>
            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:class="error"></span>
            <input type="password" name="confirmPassword" th:placeholder="#{home.form.user.confimPassword.page}"/><br>
            <input type="submit" th:value="#{home.form.user.button}">
        </form>
        <br>
        <br><br>
    </div>
    <div style="float: right">
        <p class="textColor" th:text="#{home.addBookForm.name.page}"></p>
        <form  action="/addBook" method="post" >
            <input type="text" name="title" th:placeholder="#{home.form.book.title.page}"/><br>
            <textarea  name="description" th:placeholder="#{home.form.book.description.page}"></textarea><br>
            <input type="number" name="price" th:placeholder="#{home.form.book.price.page}"/><br>
            <select name="user.id">
                <option th:each="user:${users}" th:value="${user.id}" th:text="${user.name}"></option>
            </select><br>
            <input type="submit" th:value="#{home.form.book.button}">
        </form>
        <br>
    </div>
</div>
</body>
</html>