<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/perform_login" method="post" >
            <input type="text" name="username" placeholder="Please input email"/>
            <input type="password" name="password" placeholder="Please input password"/>
            <button>Login</button>
        </form>
    </div>
</div>
</body>
</html>